.heading-container {
  height: 50px;
  margin-bottom: 20px;
}

h1 {
  color: #000000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  text-wrap: nowrap;
}

:host ::ng-deep .country-flag {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 30px;
  margin-left: 20px;
  width: 30px;
}

:host ::ng-deep .actions-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

:host ::ng-deep .module {
  align-items: center;
  background-color: var(--table-module-text-field-color);
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  height: 31px;
  justify-content: center;
  min-width: 127px;
  width: fit-content;
}
