.table-container {
  -ms-overflow-style: none;
  height: 560px;
  overflow: auto;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}

th:first-of-type {
  border-top-left-radius: 8px;
}

th:last-of-type {
  border-top-right-radius: 8px;
}

.mat-mdc-header-row {
  background-color: var(--table-header-color);
  height: 60px;
}

th {
  border: none;
  color: #000000;
  font-family: var(--main-font);
  font-size: 21px;
  font-weight: 400;
  overflow: auto;
  padding: 0 50px;
  text-wrap: nowrap;
}

.mat-mdc-row {
  background-color: #ffffff;
  border-bottom: none;
  box-shadow: 0px 0px 4px 0px #00000040;
  height: 100px;
}


td {
  border: none;
  color: #000000;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px;
  text-wrap: nowrap;
}

mat-paginator {
  --mat-paginator-container-background-color: transparent;
  --mat-paginator-container-text-color: var(--paginator-text-color);
  --mat-paginator-container-text-font: var(--paginator-font);
  --mat-paginator-container-text-size: 16px;
  --mat-paginator-container-text-weight: 400;
  --mat-paginator-form-field-container-height: 21px;
  --mat-paginator-form-field-container-vertical-padding: 0;
  --mat-paginator-select-trigger-text-size: 16px;
  --mat-select-enabled-arrow-color: transparent;
  --mat-select-enabled-trigger-text-color: #191919;
  --mat-select-focused-arrow-color: transparent;
  --mat-select-trigger-text-font: var(--main-font);
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-color: var(--table-header-color);
  --mdc-outlined-text-field-hover-outline-color: var(--table-header-color);
  --mdc-outlined-text-field-outline-color: var(--table-header-color);
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

::ng-deep .mat-mdc-paginator-page-size-select {
  background-color: var(--table-header-color);
  border-radius: 8px;
}

.rules-search-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.rules-search {
  --mat-form-field-container-height: 51px;
  --mat-form-field-container-text-font: var(--main-font);
  --mat-form-field-container-text-weight: 600;
  --mat-icon-color: var(--rules-search-color);
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-color: var(--rules-search-color);
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mdc-outlined-text-field-hover-outline-color: var(--rules-search-color);
  --mdc-outlined-text-field-input-text-color: var(--rules-search-color);
  --mdc-outlined-text-field-input-text-placeholder-color: var(--rules-search-color);
  --mdc-outlined-text-field-outline-color: var(--rules-search-color);
  --mdc-outlined-text-field-caret-color: var(--rules-search-color);
  max-width: 453px;
  width: 40%;
  margin-bottom: 10px;
}

.mat-mdc-row:hover {
  filter: brightness(95%);
}

.mat-column-actions {
  width: 12%;
  text-align: end;
}

.mat-mdc-header-cell.mat-column-actions {
  text-align: start;
}
