.table-container {
  border-radius: 8px;
  max-height: 630px;
  min-width: fit-content;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table {
  margin-bottom: 10px;
}

.table-container::-webkit-scrollbar {
  display: none;
}

th:first-of-type {
  border-top-left-radius: 8px;
}

th:last-of-type {
  border-top-right-radius: 8px;
}

.mat-mdc-header-row {
  background-color: var(--primary-color);
  height: 60px;
}

th {
  border: none;
  color: #000000;
  font-family: var(--main-font);
  font-size: 21px;
  font-weight: 400;
  overflow: auto;
  padding: 0 50px;
  text-wrap: nowrap;
}

.mat-mdc-row {
  background-color: #ffffff;
  border-bottom: none;
  box-shadow: 0px 0px 4px 0px #00000040;
  height: 100px;
}


td {
  border: none;
  color: #000000;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px;
  text-wrap: nowrap;
}

mat-paginator {
  display: flex;
  justify-content: flex-start;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);
  --mdc-outlined-text-field-hover-outline-color: var(--primary-color);
  --mdc-outlined-text-field-outline-color: var(--primary-color);
  --mat-paginator-container-background-color: transparent;
  --mat-paginator-container-text-color: var(--paginator-text-color);
  --mat-paginator-container-text-font: var(--paginator-font);
  --mat-paginator-container-text-size: 16px;
  --mat-paginator-container-text-weight: 400;
  --mat-paginator-form-field-container-height: 21px;
  --mat-paginator-form-field-container-vertical-padding: 0;
  --mat-paginator-select-trigger-text-size: 16px;
  --mat-select-enabled-arrow-color: transparent;
  --mat-select-enabled-trigger-text-color: #191919;
  --mat-select-focused-arrow-color: transparent;
  --mat-select-trigger-text-font: var(--main-font);
  text-wrap: nowrap;
  width: 100%;
}

::ng-deep mat-paginator .mat-mdc-paginator-container {
  flex-wrap: nowrap;
}


::ng-deep .mat-mdc-paginator-page-size-select {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.rules-search {
  display: flex;
  --mat-form-field-container-height: 51px;
  --mat-form-field-container-text-font: var(--main-font);
  --mat-form-field-container-text-weight: 600;
  --mat-icon-color: var(--secondary-color);
  justify-self: end;
  margin-bottom: 10px;
  min-width: fit-content;
  --mdc-outlined-text-field-caret-color: var(--secondary-color);
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-color: var(--secondary-color);
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mdc-outlined-text-field-hover-outline-color: var(--secondary-color);
  --mdc-outlined-text-field-input-text-color: var(--secondary-color);
  --mdc-outlined-text-field-input-text-placeholder-color: var(--secondary-color);
  --mdc-outlined-text-field-outline-color: var(--secondary-color);
  width: 453px;
}

.mat-mdc-row:hover {
  filter: brightness(95%);
}

.mat-column-actions {
  text-align: end;
  width: 12%;
}

.mat-mdc-header-cell.mat-column-actions {
  text-align: start;
}
