form {
  background-color: #ffffff;
  border-radius: 8px;
  height: 330px;
  margin-bottom: 40px;
  min-width: fit-content;
  padding: 30px 48px;
}

h2 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 32.74px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

mat-radio-group {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 48px;
  margin-top: 30px;
  text-wrap: nowrap;
}

.frequency-container {
  margin-top: 30px;
}

mat-form-field {
  --mat-form-field-container-height: 44px;
  --mat-form-field-container-text-font: Roboto;
  --mat-form-field-container-vertical-padding: 10px;
  --mdc-outlined-text-field-caret-color: var(--forms-secondary-color);
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-focus-outline-color: var(--forms-secondary-color);
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mdc-outlined-text-field-hover-outline-color: var(--forms-secondary-color);
  --mdc-outlined-text-field-input-text-color: var(--forms-primary-color);
  --mdc-outlined-text-field-outline-color: var(--forms-secondary-color);
  --mdc-outlined-text-field-outline-width: 1px;
  width: 232px;
}

.unused-balance-radio-container {
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

mat-label {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
}

mat-radio-button {
  --mat-radio-checked-ripple-color: transparent;
  --mat-radio-label-text-color: var(--forms-secondary-color);
  --mat-radio-label-text-font: var(--main-font);
  --mat-radio-label-text-size: 16px;
  --mat-radio-label-text-weight: 400;
  --mat-radio-ripple-color: var(--forms-primary-color);
  --mdc-radio-selected-focus-icon-color: var(--forms-primary-color);
  --mdc-radio-selected-hover-icon-color: var(--forms-primary-color);
  --mdc-radio-selected-icon-color: var(--forms-primary-color);
  --mdc-radio-selected-pressed-icon-color: var(--forms-primary-color);
  --mdc-radio-unselected-focus-icon-color: var(--forms-primary-color);
  --mdc-radio-unselected-hover-icon-color: var(--forms-primary-color);
  --mdc-radio-unselected-icon-color: var(--forms-primary-color);
}

.unused-balance-radio-container mat-radio-button {
  --mat-radio-label-text-size: 14px;
}

.consumption-type {
  justify-content: space-between;
  width: 303px;
}
