<mat-toolbar>
  <div class="shape">
  </div>
  <div class="admin-info">
    <img src="/assets/f7f7f7.png">
    <div>
      <p>Admin Name</p>
      <span>Admin</span>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" mode="side" opened>
    <h1>Olive</h1>

    <mat-nav-list>
      <a mat-list-item>Dashboard</a>
      <a
        #rulesActive="routerLinkActive"
        [activated]="rulesActive.isActive"
        mat-list-item
        routerLink="rules"
        routerLinkActive
      >Rules Engine</a>

      <a
        #accountsActive=routerLinkActive
        [activated]="accountsActive.isActive"
        mat-list-item
        routerLink="accounts"
        routerLinkActive
      >Accounts</a>
      <a mat-list-item>Billing</a>
      <a mat-list-item>User Management</a>
      <a mat-list-item>Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>


