<form [formGroup]="form">
  <h2>Balance</h2>

  <div class="balance-input-container">
    <label>Balance:</label>
    <app-balance-combined-input
      (formValueChanged)="setBalanceForm($event)"
    />
  </div>

  <div class="other-balance-options-container">
    @if (isThroughBalance) {
      <mat-checkbox class="conditional-checkbox" formControlName="conditional">Conditional</mat-checkbox>

      <div class="balance-conditions-container">
        <div class="balance-conditions">
          <label>Balance Conditions:</label>

          <mat-form-field appearance="outline">
            <mat-select formControlName="balanceCondition" panelClass="select-panel">
              <mat-option value="greater">Greater Than</mat-option>
              <mat-option value="lesser">Lesser Than</mat-option>
            </mat-select>
          </mat-form-field>

          <app-balance-combined-input
            (formValueChanged)="setBalanceConditionsForm($event)"
          />
        </div>

        <div class="balance-input-container">
          <label>Balance:</label>
          <app-balance-combined-input
            (formValueChanged)="setConditionalBalanceForm($event)"
          />
        </div>
      </div>
    }

    <mat-checkbox formControlName="extendBalance">Extend Balance</mat-checkbox>

    <div class="extended-balance-container">
      <label>Extended Balance:</label>
      <app-balance-combined-input
        [isDisabled$]="isExtendedBalanceDisabled$"
        (formValueChanged)="setExtendedBalanceForm($event)"
      />
    </div>

    <mat-checkbox formControlName="canBeOverridden">Balance Can Be Overridden</mat-checkbox>
  </div>

  @if (isThroughBalance) {
    <div class="frequency-container">
      <div class="frequency-input-container">
        <label>Frequency:</label>

        <mat-form-field appearance="outline">
          <mat-select formControlName="frequency" panelClass="select-panel">
            <mat-option value="yearly">Yearly</mat-option>
            <mat-option value="monthly">Monthly</mat-option>
            <mat-option value="once">Once</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="frequency-date-container">
        <label>Frequency Start:</label>

        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="frequencyStart">
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
              <span class="material-symbols-outlined">
                today
              </span>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  }
</form>
