.heading-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-width: fit-content;
}

h1 {
  color: #000000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  margin-right: 50px;
  text-wrap: nowrap;
}

.create-button {
  --mdc-filled-button-container-color: var(--secondary-color);
  --mdc-filled-button-container-height: 51px;
  --mdc-filled-button-container-shape: 8px;
  --mdc-filled-button-label-text-color: #FFFFFF;
  --mdc-filled-button-label-text-font: var(--main-font);
  --mdc-filled-button-label-text-size: 20px;
  --mdc-filled-button-label-text-weight: 400;
  --mat-filled-button-ripple-color: transparent;
  width: 238px;
}
