form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px 48px;
  min-width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

h2 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
}

.balance-input-container {
  width: 302px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.balance-input-container label {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
}

.combined-input {
  width: fit-content;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  height: 44px;
}

.combined-input input {
  border: 0.5px solid black;
  border-radius: 8px 0px 0px 8px;
  height: 44px;
  width: 91px;
  padding: 10px;
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 400;
  background-color: transparent;
}

.balance-dropdown {
  height: 44px;
  border: 0.5px solid black;
  border-radius: 0 8px 8px 0;
  border-left: none;
  background-color: transparent;
  color: #000000;
  font-family: var(--main-font);
  font-size: 14px;
  width: 63px;
  font-weight: 600;
  padding-left: 15px;
}

.combined-input input:focus {
  outline: none;
}

.balance-dropdown:focus {
  outline: none;
}

.other-balance-options-container {
  padding-left: 10px;
}

mat-checkbox {
  --mat-checkbox-label-text-font: var(--main-font);
  --mat-checkbox-label-text-size: 18px;
  --mat-checkbox-label-text-weight: 400;
}

.conditional-checkbox {
  margin: 10px 0;
}

.balance-conditions-container {
  width: 100%;
  min-width: fit-content;
  text-wrap: nowrap;
  height: 87px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: var(--balance-form-secondary-color);
  margin-bottom: 20px;
}

.balance-conditions-container label {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--balance-form-secondary-text-color);
}

.balance-conditions-container mat-form-field {
  margin-left: 25px;
  width: 232px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-container-height: 44px;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-outline-color: var(--balance-form-secondary-text-color);
  --mat-select-trigger-text-font: var(--main-font);
  --mat-select-trigger-text-size: 14px;
  --mat-select-enabled-trigger-text-color: var(--balance-form-secondary-text-color);
  --mat-select-trigger-text-weight: 600;
  --mat-form-field-enabled-select-arrow-color: var(--balance-form-secondary-text-color);
  --mat-select-focused-arrow-color: var(--balance-form-secondary-text-color);
  --mdc-outlined-text-field-focus-outline-color: var(--balance-form-secondary-text-color);
  --mdc-outlined-text-field-focus-outline-width: 1px;
  --mdc-outlined-text-field-outline-width: 0.5px;
}

.balance-conditions {
  display: flex;
  align-items: center;
}

.balance-conditions .combined-input {
  margin-left: 25px;
}

.balance-conditions-container .combined-input input {
  border-color: var(--balance-form-secondary-text-color);
  color: var(--balance-form-secondary-text-color);
}

.balance-conditions-container .balance-dropdown {
  border-color: var(--balance-form-secondary-text-color);
  color: var(--balance-form-secondary-text-color);
}

.balance-conditions-container .balance-input-container {
  margin-left: 80px;
}

.balance-conditions-container .balance-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.balance-conditions-container .balance-input-container .combined-input {
  margin-left: 25px;
}

.extended-balance-container {
  width: 100%;
  min-width: fit-content;
  text-wrap: nowrap;
  height: 87px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: var(--balance-form-secondary-color);
  margin-bottom: 20px;
}

.extended-balance-container label {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--balance-form-secondary-text-color);
}

.extended-balance-container .combined-input {
  margin-left: 30px;
  border-color: var(--balance-form-secondary-text-color);
}

.extended-balance-container .balance-dropdown {
  border-color: var(--balance-form-secondary-text-color);
  color: var(--balance-form-secondary-text-color);
}

.extended-balance-container .combined-input input {
  color: var(--balance-form-secondary-text-color);
}

.frequency-container {
  margin-top: 50px;
  height: 48px;
  width: 832px;
  display: flex;
  justify-content: space-between;
}

.frequency-container label {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
}

.frequency-container mat-form-field {
  margin-left: 30px;
  width: 232px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-container-height: 44px;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-outline-color: #000000;
  --mat-select-trigger-text-font: Roboto;
  --mat-select-trigger-text-size: 14px;
  --mat-select-enabled-trigger-text-color: #000000;
  --mat-select-trigger-text-weight: 500;
  --mat-form-field-enabled-select-arrow-color: #000000;
  --mat-select-focused-arrow-color: #000000;
  --mdc-outlined-text-field-focus-outline-color: #000000;
  --mdc-outlined-text-field-focus-outline-width: 1px;
  --mdc-outlined-text-field-outline-width: 0.5px;
}

.frequency-date-container mat-form-field {
  margin-left: 50px;
  width: 154px;
}

.frequency-date-container mat-icon {
  --mat-icon-color: #000000;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}


.combined-input select:disabled {
  border-color: #CBCBCB;
  opacity: 0.8;
}

.combined-input input:disabled {
  border-color: #CBCBCB;
  opacity: 0.8;
}

.combined-input .disabled-label {
  color: #cbcbcb;
}
