form {
  min-width: fit-content;
}

h1 {
  color: #000000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  text-wrap: nowrap;
}

h2 {
  height: 58px;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-wrap: nowrap;
}

fieldset {
  border-radius: 8px;
  border: none;
  padding: 30px 48px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.name-fieldset {
  margin-top: 100px;
  height: 162px;
}

.name-fieldset mat-form-field {
  width: 100%;
  --mat-form-field-container-height: 44px;
  --mat-form-field-container-vertical-padding: 10px;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-outline-color: #79747E47;
  --mdc-outlined-text-field-focus-outline-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-hover-outline-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-focus-outline-width: 1px;
  --mdc-outlined-text-field-caret-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-input-text-color: #49454F;
  --mat-form-field-container-text-size: 14px;
  --mat-form-field-container-text-weight: 500;
  text-align: center;
}

.basic-info-fieldset {
  height: fit-content;
  font-family: var(--main-font);
}

.basic-info-container {
  min-height: 381px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.form-radio-container, .form-select-container {
  display: flex;
  flex-direction: column;
}

.form-radio-container {
  width: 60%;
  justify-content: space-between;
}

mat-radio-group {
  margin-bottom: 18px;
}

mat-label, label {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

mat-radio-button {
  --mat-radio-label-text-color: var(--radio-color);
  --mat-radio-label-text-font: var(--main-font);
  --mat-radio-checked-ripple-color: transparent;
  --mat-radio-label-text-weight: 400;
  --mat-radio-label-text-size: 14px;
  --mat-radio-label-text-line-height: 19px;
  --mat-radio-ripple-color: var(--radio-color);
  --mdc-radio-selected-focus-icon-color: var(--radio-color);
  --mdc-radio-selected-hover-icon-color: var(--radio-color);
  --mdc-radio-selected-icon-color: var(--radio-color);
  --mdc-radio-selected-pressed-icon-color: var(--radio-color);
  --mdc-radio-unselected-icon-color: var(--radio-color);
  --mdc-radio-unselected-hover-icon-color: var(--radio-color);
  --mdc-radio-unselected-focus-icon-color: var(--radio-color);
}

.entitled-radio-group mat-radio-button {
  --mat-radio-label-text-color: #000000;
  --mat-radio-checked-ripple-color: transparent;
  --mat-radio-label-text-weight: 400;
  --mat-radio-label-text-size: 14px;
  --mat-radio-ripple-color: #000000;
  --mdc-radio-selected-focus-icon-color: #000000;
  --mdc-radio-selected-hover-icon-color: #000000;
  --mdc-radio-selected-icon-color: #000000;
  --mdc-radio-selected-pressed-icon-color: #000000;
  --mdc-radio-unselected-icon-color: #000000;
  --mdc-radio-unselected-hover-icon-color: #000000;
  --mdc-radio-unselected-focus-icon-color: #000000;
}

mat-radio-group {
  display: flex;
  align-items: center;
  height: 48px;
}

.radio-label-container {
  display: block;
  width: 170px;
}

mat-radio-group mat-radio-button {
  width: 190px;
}


.form-select-container {
  text-wrap: nowrap;
  min-width: fit-content;
  width: 40%;
}

.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  height: 48px;
}

.select-container label {
  margin-right: 20px;
}

::ng-deep.select-container mat-form-field {
  width: 232px;
  margin-left: 20px;
  --mdc-outlined-text-field-container-shape: 8px;
  --mat-form-field-container-height: 44px;
  --mat-form-field-container-vertical-padding: 9px;
  --mdc-outlined-text-field-outline-color: #79747E47;
  --mdc-outlined-text-field-focus-outline-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-hover-outline-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-focus-outline-width: 1px;
  --mdc-outlined-text-field-caret-color: var(--table-module-text-field-color);
  --mdc-outlined-text-field-input-text-color: #49454F;
  --mat-form-field-enabled-select-arrow-color: #49454F;
  --mat-form-field-focus-select-arrow-color: #49454F;
  --mat-select-enabled-arrow-color: #1D1B20;
  --mat-select-focused-arrow-color: #1D1B20;
  --mat-select-trigger-text-size: 14px;
  --mat-select-trigger-text-weight: 500;
}

button {
  font-family: var(--main-font);
  border-radius: 8px;
  margin-right: 10px;
}

.cancel-button {
  width: 90px;
  --mdc-text-button-label-text-color: var(--rules-search-color);
  --mdc-text-button-container-height: 51px;
  --mat-text-button-ripple-color: rgba(194, 193, 193, 0.2);
  --mat-text-button-hover-state-layer-opacity: 0;
  --mat-text-button-pressed-state-layer-opacity: 0;
  --mat-text-button-focus-state-layer-opacity: 0;
  --mdc-text-button-label-text-size: 20px;
  --mdc-text-button-label-text-weight: 400;
}

.cancel-button:hover, .cancel-button:focus {
  background-color: #E8E8E8;
}

.save-button {
  width: 212px;
  height: 51px;
  --mdc-outlined-button-outline-color: #2E2E2E;
  --mdc-outlined-button-label-text-color: #2E2E2E;
  --mat-outlined-button-hover-state-layer-opacity: 0;
  --mat-outlined-button-pressed-state-layer-opacity: 0;
  --mat-outlined-button-focus-state-layer-opacity: 0;
  --mat-outlined-button-ripple-color: rgba(194, 193, 193, 0.2);
  --mdc-outlined-button-label-text-size: 20px;
  --mdc-outlined-button-label-text-weight: 400;
  color: #2E2E2E;
}

.save-button:hover, .save-button:focus {
  background-color: #E8E8E8;
}

.create-button {
  width: 212px;
  height: 51px;
  --mdc-filled-button-container-color: var(--rules-search-color);
  --mdc-filled-button-label-text-size: 20px;
  --mdc-filled-button-label-text-weight: 400;
}

.date-range-container {
  display: flex;
  height: 35px;
  width: 300px;
  justify-content: space-between;
  margin-left: 180px;
}

::ng-deep .material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 300,
  'GRAD' -50,
  'opsz' 10
}

.datepicker {
  --mat-form-field-container-vertical-padding: 6px;
  --mat-form-field-container-height: 35px;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-outline-width: 0.5px;
  --mdc-outlined-text-field-outline-color: #A4A4A4;
  --mdc-outlined-text-field-focus-outline-width: 1px;
  --mdc-outlined-text-field-focus-outline-color: #A4A4A4;
  --mdc-outlined-text-field-hover-outline-color: #A4A4A4;
  --mdc-outlined-text-field-input-text-color: #A1A1A1;
  --mat-icon-color: #8D8D8D;
  width: 140px;
}

.datepicker mat-label {
  color: #A1A1A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.datepicker input {
  color: #A1A1A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

