<app-heading [headings]="headings"></app-heading>

<form [formGroup]="form">
  <fieldset class="name-fieldset">
    <h2>Name</h2>
    <mat-form-field appearance="outline">
      <input formControlName="name" matInput>
    </mat-form-field>
  </fieldset>

  <fieldset class="basic-info-fieldset">
    <h2>Basic Info</h2>

    <mat-radio-group formControlName="type">
      <mat-label>Type:</mat-label>
      <mat-radio-button value="paid">Paid</mat-radio-button>
      <mat-radio-button value="not-paid">Not paid</mat-radio-button>
    </mat-radio-group>

    <mat-label>Unit:</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="unit" panelClass="select-panel" placeholder="Select">
        <mat-option value="days">Days</mat-option>
        <mat-option value="hours">Hours</mat-option>
        <mat-option value="days&hours">Days & Hours</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="entitled-radio-group" formControlName="entitled">
      <mat-label>Entitled:</mat-label>
      <mat-radio-button value="through-balance">Through balance</mat-radio-button>
      <mat-radio-button value="event-based">Event based</mat-radio-button>
    </mat-radio-group>

    <mat-label>Gender:</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="gender" panelClass="select-panel" placeholder="Select">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="all">All</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="docsRequired">
      <mat-label>Docs Required:</mat-label>
      <mat-radio-button value="true">Yes</mat-radio-button>
      <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-label>Employment Type:</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="employmentType" panelClass="select-panel" placeholder="Select">
        <mat-option value="full-time">Full Time</mat-option>
        <mat-option value="part-time">Part Time</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="gracePeriod">
      <mat-label>Grace Period:</mat-label>
      <mat-radio-button value="true">Yes</mat-radio-button>
      <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group formControlName="dispute">
      <mat-label>Dispute:</mat-label>
      <mat-radio-button value="true">Yes</mat-radio-button>
      <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group formControlName="validity">
      <mat-label>Validity:</mat-label>
      <mat-radio-button value="limited">Limited</mat-radio-button>
      <mat-radio-button value="unlimited">Unlimited</mat-radio-button>
    </mat-radio-group>

    @if (isDateRangeDisplayed) {
      <div class="date-range-container">
        <mat-form-field appearance="outline" class="datepicker">
          <mat-label>from</mat-label>
          <input matInput [matDatepicker]="fromPicker" formControlName="validityFrom">
          <mat-datepicker-toggle matIconSuffix [for]="fromPicker">
            <mat-icon matDatepickerToggleIcon>
                  <span class="material-symbols-rounded">
                    calendar_today
                  </span>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="datepicker">
          <mat-label>to</mat-label>
          <input matInput [matDatepicker]="toPicker" formControlName="validityTo">
          <mat-datepicker-toggle matIconSuffix [for]="toPicker">
            <mat-icon matDatepickerToggleIcon>
                  <span class="material-symbols-rounded">
                    calendar_today
                  </span>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>
    }
  </fieldset>

  @defer (when isBalanceDisplayed) {
    @if (isBalanceDisplayed) {
      <app-balance [isThroughBalance]="isThroughBalance" (formValueChanged)="setBalanceForm($event)"/>
    }
  }

  @defer (when isConsumptionDisplayed) {
    @if (isConsumptionDisplayed) {
      <app-consumption (formValueChanged)="setConsumptionForm($event)"/>
    }
  }

  <div class="button-container">
    <button (click)="onCancel()" class="cancel-button" mat-button type="button">Cancel</button>
    <button class="save-button" mat-stroked-button type="button">Save As Draft</button>
    <button (click)="onSubmit()" class="create-button" mat-flat-button type="submit">Create</button>
  </div>
</form>
