<app-heading [headings]="headings"/>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2>Basic info:</h2>

  <div class="grid-container">
    <div class="input-container">
      <mat-label>*Client Name:</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="clientName" matInput placeholder="name" type="text">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-label>Contact Person:</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="contactPersonName" matInput placeholder="name" type="text">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-label>*Email Address:</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="email" matInput placeholder="email" type="text">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-label>Phone Number:</mat-label>
      <mat-form-field appearance="outline" class="phone-number-field">
        <!--
        Custom input phone number field.
        Contains mat select with country code options and an input inside it.
        The value is a single string that contains country code and number concatenated.
         -->
        <phone-number-input formControlName="phoneNumber"/>
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-label>Address:</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="address" matInput placeholder="type address" type="text">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-label>Logo:</mat-label>
      <div class="upload-button-container">
        <button mat-stroked-button type="button">Upload</button>
      </div>
    </div>

    <div class="input-container">
      <mat-label>*Country:</mat-label>
      <mat-form-field appearance="fill" class="country-selector">
        <mat-select #countrySelect formControlName="country" panelClass="select-panel">
          <mat-option value="armenia">Armenia</mat-option>
          <mat-option value="jordan">Jordan</mat-option>
        </mat-select>
        <mat-icon matSuffix><span class="material-symbols-rounded">keyboard_arrow_down</span></mat-icon>
      </mat-form-field>
    </div>

    <div class="description-container">
      <mat-label>Description:</mat-label>
      <mat-form-field appearance="outline">
        <textarea formControlName="description" matInput placeholder="Type description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <button class="create-button" mat-flat-button type="submit">Create</button>
</form>
