<div
  (focusin)="onFocusIn()"
  (focusout)="onFocusOut($event)"
  [attr.aria-labelledby]="_formField?.getLabelId()"
  [formGroup]="parts"
  class="phone-number-input-container"
  role="group"
>
  <mat-form-field appearance="outline">
    <mat-select
      #countryCode
      (input)="_handleInput(parts.controls.countryCode, number)"
      formControlName="countryCode"
      panelClass="code-select-panel"
    >
      <mat-select-trigger>
        <img height="25px" src="./assets/flags-for-phone-number-field/{{countryCode.value}}.svg" width="30px">
      </mat-select-trigger>
      <mat-option value="+374">
        +374, Armenia
      </mat-option>
      <mat-option value="+962">
        +962, Jordan
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span>|</span>
  <input
    #number
    (input)="_handleInput(parts.controls.number)"
    formControlName="number"
  />
</div>
